<%- include("includes/head", { pageTitle: "Error 404" }) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>404 - Could not found the resource</h1>
    <p>Unfortunately, we could not find the requested resource.</p>
    <p><a href="/">Back to safety!</a></p>
  </main>

  <%- include("includes/footer") %>
</body>
