<%- include("../../shared/includes/head", { pageTitle: "All Products" }) %>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Product Administration</h1>
    <section>
        <h2>
            Manage products
        </h2>
        <a href="/admin/products/new" class="btn">Add new product</a>
    </section>
    <p>A list of products...</p>
  </main>

  <%- include("../../shared/includes/footer") %>
