<header id="main-header">
  <div id="logo"><a href="/">WDE</a></div>
  <nav>
    <!-- prettier-ignore -->
    <%- include("nav-items") %>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <!-- prettier-ignore -->
    <%- include("nav-items") %>
  </nav>
</aside>
